<meta charset="utf-8">
<title>ToDo</title>
<script src="bower_components/angular/angular.js"></script>
<script src="js/client.js"></script>
<script src="js/toDoController.js"></script>
<script src="js/submitFactory.js"></script>
<script src="js/listFactory.js"></script>
<script src="js/deleteFactory.js"></script>
<script src="js/editFactory.js"></script>
<script src="js/categoriseFactory.js"></script>
