<!DOCTYPE html>
<html ng-app="ToDo">
<head>
  <% include ../views/partials/head %>
</head>

<body ng-controller="ToDoController as ctrl">
<form>
  <input ng-model="ctrl.draftToDo"></input>
  <button id="submit-btn" ng-click="ctrl.addToDo()">Add</button>
</form>
<span ng-bind="ctrl.submittedToDo"></span>
</body>
