<!DOCTYPE html>
<html ng-app="ToDo">
<head>
  <% include ../views/partials/head %>
</head>

<body ng-controller="ToDoController as ctrl">

  <div class="col-sm-4">
    <div class="panel panel-default">

      <div class="panel-heading">
        <h3 class="panel-title pull-left">Stuff to do!</h3>
        <select class="pull-right" id="category-dropdown" ng-model="ctrl.selectedCategory" ng-change="ctrl.filterToDos()">
          <option>All</option>
          <option ng-repeat="category in ctrl.categories">{{category}}</option>
        </select>
        <div class="clearfix"></div>
      </div>

      <div class="panel-body" id="todo-list" ng-repeat="toDo in ctrl.filteredToDos">
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="ctrl.selection[toDo._id]">
            <span class="task" ng-style="{ 'text-decoration': toDo.complete === true ? 'line-through' : 'none' }">{{toDo.task}}</span>
          </label>
          <a href="" class="edit-btn">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true" ng-click="ctrl.edit(toDo)"></span>
          </a>
        </div>
      </div>

      <div class="panel-footer">
        <div class="btn-group pull-left">
          <button class="delete-btn" ng-click="ctrl.delete()">Delete selected</button>
          <button class="completed-btn" ng-click="ctrl.markComplete()">Mark complete</button>
        </div>
        <div class="btn-group pull-right">
          <button class="new-btn" ng-click="ctrl.new()">Create new</button>
        </div>
        <div class="clearfix"></div>
      </div>

    </div>

    <div id="edit-dialogue" ng-show="ctrl.editing">
      <div class="panel panel-default">
        <div class="panel-body">
          <form>
            Task:
            <input ng-model="ctrl.editedTask"></input>
            Category:
            <input ng-model="ctrl.editedCategory"></input>
            <button class="save-btn" ng-click="ctrl.save()">Save</button>
          </form>
        </div>
      </div>
    </div>

    <div id="new-dialogue" ng-show="ctrl.creating">
      <div class="panel panel-default">
        <div class="panel-body">
          <form>
            Task:
            <input ng-model="ctrl.task"></input>
            Category:
            <input ng-model="ctrl.category"></input>
            <div class="btn-group pull-right">
              <button class="add-btn" ng-click="ctrl.add()">Add</button>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>

</body>
