<!DOCTYPE html>
<html ng-app="ToDo">
<head>
  <% include ../views/partials/head %>
</head>

<body ng-controller="ToDoController as ctrl">

<form>
  <input ng-model="ctrl.draftToDo"></input>
  <button id="submit-delete-btn" ng-click="ctrl.addToDo()">Add</button>
</form>

<ul id="todo-list" ng-repeat="toDo in ctrl.toDos">
  <li>
    <span class="task">{{toDo.task}}</span>
    |
    <span class="category">{{toDo.category}}</span>
    <button class="delete-btn" ng-click="ctrl.deleteToDo(toDo)">Delete</button>
    <button class="edit-btn" ng-click="ctrl.showEditPanel(toDo)">Edit</button>
    <button class="categorise-btn" ng-click="ctrl.showCategorisePanel(toDo)">Add Category</button>
  </li>
</ul>

<div id="edit-panel" ng-show="ctrl.editing">
  <form>
    <input ng-model="ctrl.editedTask"></input>
    <button id="submit-edit-btn" ng-click="ctrl.editToDo()">Edit</button>
  </form>
</div>

<div id="categorise-panel" ng-show="ctrl.categorising">
  <form>
    <input ng-model="ctrl.category"></input>
    <button id="add-category-btn" ng-click="ctrl.categoriseToDo()">Add Category</button>
  </form>
</div>

</body>
